.App {
  font-family: sans-serif;
  padding: 10px;
  border: solid;
}

button {
  color: black;
  border-radius: 3px;
}

.formPanel {
  text-align: center;
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}
.grey {
  background-color: grey;
}
.cyan {
  background-color: cyan;
}

.notFound {
  margin-top: 20px;
}

.outputTable {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}
table,
th,
td {
  border: solid 1px;
}

th {
  background-color: grey;
}
